{% extends 'base.html' %}

{% block includes %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="hero-unit">
                <h1>Your instrument marketplace</h1>
                <p>We know how difficult it has been in the past, so we've built TickTock with geography and the entire instrument finding process in mind.</p>
                <p>
                    <a class="btn btn-primary btn-large btn-block span4" href="/map/">Find an instrument »</a>
                    <a class="btn btn-large btn-block span4" href="/dealer/create/">Sell an instrument »</a>
                    <div style="clear:both"></div>
                </p>
        </div>
    </div>
{% endblock %}





