{% extends 'base.html' %}

{% block includes %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="/static/js/gmaps.js"></script>
<script type="text/javascript">
    var map;
    $(document).ready(function(){
      map = new GMaps({
        div: '#map',
        lat: 51.3833,
        lng: -2.3667,
        zoom: 9,
      });
     $("select").change(function(){
          $.get('/map/search/', function(data){
            var d = eval('('+data+')');
            for (s in d){
                map.addMarker({
                    lat: d[s].lat,
                    lng: d[s].lng
                    });

            }
          });
     });
    });
</script>

{% endblock %}

{% block content %}

    <div class="container">
        <div>
            <select>
                <option>Instrument type</option>
                {% for i in ins_types %}
                    <option>{{ i.name }}</option>
                {% endfor %}
            </select>
            <select>
                <option>Maker</option>
                {% for i in makers %}
                    <option>{{ i.name }}</option>
                {% endfor %}
            </select>
            <select>
                <option>Model</option>
                {% for i in ins_models %}
                    <option>{{ i.name }}</option>
                {% endfor %}
            </select>
        </div>
        <hr />
        <div class="row">
            <div id="map" style="height:500px" class="span12"></div>
        </div>
        <hr />

        <div class="row">
        {% for i in ins %}
            {% include 'inventory/instrument.html' %}
            {% if forloop.counter|divisibleby:"3" %}
            </div><div class="row instrument-row">
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}





